@import "../../styles/breakpoints";

.foodCard {
  display: flex;
  flex-direction: column;
  gap: var(--gap-4);

  /* Auto layout */
  justify-content: space-between;
  align-items: center;
  padding: var(--gap-3);
  text-align: center;

  /* Inside Auto Layout */
  flex: none;
  align-self: stretch;
  flex-grow: 0;

  // appearance
  border-radius: 0.63rem;
  background: url(notebook-dark), rgba(11, 11, 13, 1);

  /* VARIANT */
  &.layout--default {
    flex-direction: column;
  }
  &.layout--2 {
    flex-direction: row;
    gap: var(--gap-1);
    padding: var(--gap-2);

    .foodMenuText {
      flex-basis: 230%;
    }
  }

  &__imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    & img {
      object-fit: contain;
      -webkit-user-select: none;
      user-select: none;
      -webkit-user-drag: none;
    }
  }

  &.isBlur {
    -webkit-backdrop-filter: blur(0.54rem);
    backdrop-filter: blur(0.54rem);
    background: url(notebook-dark), rgba(11, 11, 13, 0.4);
  }
}

.foodMenuText {
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);

  &__title,
  &__price,
  &__price__symbol {
    color: var(--brand);
  }
  &__price__symbol {
    margin-inline-end: var(--gap-1);
  }

  & p {
    opacity: 0.6;
  }
}
